<h1>
    This is list-todoitem component!
</h1>
<table>
    <tr>
        <td>
            Id
        </td>
        <td>
            Title
        </td>
        <td>
            Description
        </td>
        <td>
            IsDone
        </td>
        <td>
            Actionn
        </td>
    </tr>
    <tr *ngFor='let todoItem of toDoItems'>
        <td>
            {{todoItem.id}}
        </td>
        <td>
            {{todoItem.title}}
        </td>
        <td>
            {{todoItem.description}}
        </td>
        <td>
            {{todoItem.isDone}}
        </td>
        <td>
            <button (click)="updateTodoItem(todoItem.id)">Update</button>
            <button (click)="deleteTodoItem(todoItem.id)">Delete</button>
            <button (click)="selectTodoItem(todoItem.id)">Detail</button>
        </td>
    </tr>
</table>